{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
    <title>Mot de passe oublié</title>
{% endblock %}


{% block body %}

    {% for flashMessage in app.session.flashbag.get('succes') %}
        <div class="alert alert-success" role="alert" id="succes" > {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert" id="alert"> {{ flashMessage }}</div>
    {% endfor %}

    <section class="login">
        <div class="container">
            <div class="login-header">
                <h3>Mot de passe oublié</h3>
            </div>
            <div class="login-form">
                {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                {{ form_errors(form) }}
                {{ form_label(form.email, "Email :", {'label_attr': {'class': 'col-sm-2 control-label', 'require':'true'}}) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-md btn-block'}, 'label':'Envoyer'}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>

        </div>


    </section>



{% endblock %}
