{% extends 'SERCOMAppBundle:Members:index.html.twig' %}

{% block titre %}
    <title>Agenda</title>
{% endblock %}

{% block well %}
    <br/>
    <div class="well"> <a href="{{ path('sercom_members_agenda')}}"> Agenda </a> / {{ event.name }} / Choisir mes dates</div>
    <br/>

{% endblock %}

{% block body %}
    <h3>{{ event.description }}</h3>
    <br/>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>  </td>
            {% for date in dates %}
            <td>
                {{ date.getDateHour|date('d-m') }}
                <br/>
                {{ date.getDateHour|date('H:i') }}
            </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

            {% for member in members %}
                <tr>
                <td>{{ member.person.firstname }} {{ member.person.lastname }}</td>
                {% for date in dates %}
                    {% if date in member.dateproposals %}
                        <td><input type="checkbox" checked disabled/></td>
                    {% else %}
                        <td><input type="checkbox" disabled/></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}

            <tr class="success">
            <td>{{ app.security.getToken().getUser().firstname }} {{ app.security.getToken().getUser().lastname }}</td>
            {{ form_start(form) }}
            {% for dateproposal in form.dateproposals  %}
            <td>
                {{ form_widget(dateproposal) }}
            </td>
            {% endfor %}
            </tr>

        </tbody>


    </table>

    <div class="col-md-3"></div>
    <div class="col-md-3">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-sm btn-block'}, 'label':'Enregister' }) }}
    </div>
    <div class="col-md-3">
        <a href="{{ path('sercom_members_agenda') }}" class="btn btn-warning btn-sm btn-block">Retour sans sauver </a>
    </div>


    {{ form_rest(form) }}
    {{ form_end(form) }}



{% endblock %}


{% block script %}
<script>
    $('#addevent').click(function(){
        $('#add_event').modal('show');
    });

    $('#succes').delay( 5000).toggle("slow");
    $('#alert').delay( 5000).toggle("slow")
</script>
{% endblock %}