{% extends 'SERCOMAppBundle:Members:index.html.twig'%}

{% block titre %}
    <title> Administration - Documents </title>
{% endblock %}

{% block well %}
    <div class="well"><a href="{{ path('sercom_admin') }}">Administration</a> / Documents </div>
{% endblock %}


{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <td> Catégorie </td>
            <td> Description </td>
            <td> Sous catégories</td>
            <td> Permission</td>
            <td> Actions </td>

        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td>{{ doc.name }}</td>
                <td>{{ doc.description }}</td>

                <td> {{ doc.souscats|length }}</td>
                <td> {{ doc.sitegroup.description }}</td>
                <td>
                    <a href="{{ path('sercom_admin_docs_sscat', {'id': doc.doccatid}) }}" title="Entrez dans la catégorie"><span class="fa fa-folder-open-o fa-2x"></span></a>
                    <a href="{{ path('sercom_admin_doc_modify_cat',{'id' : doc.doccatid }) }}" title="Modifier"><span class="fa fa-gear fa-2x"></span></a>
                    <a href="{{ path('sercom_admin_doc_del_cat', {'id':doc.doccatid}) }}" title="supprimer"><span class="fa fa-trash fa-2x"></span></a>
                </td>




            </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('sercom_admin_docs_add_cat') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter catégorie  </a>
                <a href="{{ path('sercom_admin_docs_add_file2') }}" class="btn btn-primary"><i class="fa fa-upload"></i> Ajouter un document </a>
            </td>
            <td></td><td></td><td></td><td></td>

        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{{ path('sercom_admin') }}" class="btn btn-warning btn-block">Retour</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#succes').delay( 5000).toggle('RIGHT');
        $('#alert').delay( 5000).toggle();




    </script>
{% endblock %}