{% extends 'SERCOMAppBundle:Members:index.html.twig' %}

{% form_theme form _self %}

{%- block button_widget -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><i class="fa fa-search"></i></button>
{%- endblock button_widget -%}

{% block titre %}
    <title>Liste des professeurs</title>
{% endblock %}

{% block well %}
    <div class="well">
        <a href="{{ path('sercom_admin') }}">Administration</a> / Liste des professeurs
        <div class="navbar-right col-sm-3">
            {{ form_start(form , {'attr':{'class':'form-horizontal'}}) }}
            <div class="input-group">
                {{ form_widget(form.search, {'attr': {'class': 'form-control','placeholder':'Recherche Nom, prénom' }} ) }}
                <div class="input-group-btn">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}

{% block body %}


    {% if persons is not empty %}
        <table class="table table-hover">
            <thead>
            <tr>
                <td> Nom </td>
                <td> Prenom </td>
                <td> Classes </td>
                <td> Action </td>

            </tr>
            </thead>
            <tbody>
            {% for p in persons %}
                <tr>
                    <td>{{ p.person.lastname }}</td>
                    <td>{{ p.person.firstname }} </td>
                    <td>
                        {% if p.classes is not empty %}
                    <td>
                        {% for classe in p.classes %}
                            {{ classe.name }} &nbsp;
                        {% endfor %}
                    </td>
                    {% else %}
                        <td> Pas de classe </td>
                    {% endif %}
                    </td>
                    <td>
                        <a href=""><i class="fa fa-eye fa-2x"></i></a>
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <a href="{{ path('sercom_admin') }}" class="btn-block btn-warning btn">Retour</a>
            </div>
        </div>


    {% else %}
        Votre recherche n'a pas retourné de résultat
    {% endif %}


{% endblock %}

{% block script %}
    <script>



    </script>
{% endblock %}

