{% extends 'SERCOMAppBundle:Home:base.html.twig' %}

{% block header %}
    {{ include('SERCOMAppBundle:Members:header.html.twig') }}
{% endblock %}
{% block nav %}{% endblock %}

{% block titre %}
    <title>Espace Membres</title>
{% endblock %}

{% block well %}
    <div class="well">Accueil membres</div>
{% endblock %}

{% block flash %}
    {% for flashMessage in app.session.flashbag.get('succes') %}
        <div class="alert alert-success" role="alert" id="succes" > {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert" id="alert"> {{ flashMessage }}</div>
    {% endfor %}
{% endblock %}


{% block body %}



    <div class="panel panel-primary">
        <div class="panel-heading">Dernier messages sur le forum</div>
        <div class="panel-body">

            {% if post is not empty %}
            Forum : <a href="{{ path('sercom_members_forum_topics',{'forum': post.forumtopic.forum.forumid}) }}">{{ post.forumtopic.forum.name }}</a>
            Topic : <a href="{{ path('sercom_members_forum_posts',{'forum': post.forumtopic.forum.forumid ,'topic': post.forumtopic.topicid }) }}">{{ post.forumtopic.title }}</a>
            par :  {{ post.member.person.lastname }} {{ post.member.person.firstname }} le {{ post.datepost|date('d-m-Y H:i') }}
            {% else %}
                Pas de post
            {% endif %}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Dernier article publié</div>
        <div class="panel-body">
            {% if article is not empty %}
            Titre : {{ article.title }}
            Section: {{ article.sitesection.name }}
            par {{ article.member.person.lastname }} {{ article.member.person.firstname }}
            le {{ article.publishdate|date('d-m-Y H:i') }}
            {% else %}
                Pas d'article
            {% endif %}

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Dernier document uploadé</div>
        <div class="panel-body">
            {% if upload is not empty %}
            Document : {{ upload.name }} SECTION : <a href={{ path('sercom_members_docs_files', {'id': upload.souscat.souscatid }) }}>{{ upload.souscat.category.name }} / {{ upload.souscat.name }}</a>
            {% else %}
                Pas de documents
            {% endif %}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Agenda</div>
        <div class="panel-body">
            {% if agenda is not empty %}
                Evenement : {{ agenda.name }} Sujet : {{ agenda.description }} DATE : {{ agenda.datehourevent|date('d-m-Y H:i') }}
            {% else %}
                Pas d'évènement
            {% endif %}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Mails</div>
        <div class="panel-body">
            {% if mail is not empty %}
                De : {{ mail.privatemessages.sender.person.lastname }} {{ mail.privatemessages.sender.person.firstname }}
                Objet : {{ mail.privatemessages.subject }}
                Le : {{ mail.privatemessages.datemessage|date('d-m-Y h:i') }}
            {% else %}
                Pas de nouveau message
            {% endif %}

        </div>
    </div>


{% endblock %}
{% block script %}
    <script>
        $('#succes').delay( 5000).toggle("slow");
        $('#alert').delay( 5000).toggle("slow")
    </script>
{% endblock %}