{% extends 'SERCOMAppBundle:Members:index.html.twig' %}

{% form_theme form _self %}

{%- block button_widget -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><i class="fa fa-search"></i></button>
{%- endblock button_widget -%}

{% block titre %}
    <title>Liste des utilisateurs</title>
{% endblock %}

{% block well %}
    <div class="well">
        Liste des membres

    <div class="navbar-right col-sm-3">
        {{ form_start(form , {'attr':{'class':'form-horizontal'}}) }}
        <div class="input-group">
            {{ form_widget(form.search, {'attr': {'class': 'form-control','placeholder':'Recherche Nom, prénom, fonction' }} ) }}
            <div class="input-group-btn">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}


    </div>



    </div>
{% endblock %}

{% block body %}




        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Fonction</td>
                    <td>Action</td>

                </tr>
                </thead>
                <tbody>
                     {% if persons is not empty %}
                        {% for p in persons %}
                            <td>{{ p.person.lastname }}</td>
                            <td>{{ p.person.firstname }}</td>
                            <td>
                               {% if p.asblfunctions is not empty %}
                                   {% for f in p.asblfunctions %}
                                       {{ f.fonction }}
                                    {% endfor %}
                               {% else %}
                                   Pas de fonction
                               {% endif %}

                            </td>
                            <td>
                                <a href="{{ path('sercom_members_listmembres_voir', {'id': p.personid}) }}" title="Voir infos"><i class="fa fa-eye fa-2x"></i></a>
                            </td>
                        {% endfor %}

                    {% else %}
                        <td> Votre recherche n'a pas retourné de résultat</td>
                         <td></td><td></td><td></td>
                    {% endif %}

                </tbody>
            </table>





        </div>



    {% include '@SERCOMApp/Pagination/pagination.html.twig' %}




{% endblock %}

{% block script %}
    <script>



    </script>
{% endblock %}