



    <ul class="nav nav-tabs" align="center">
        <li class="dropdown">
            <li  class="dropdown">
                <a href="{{ path('sercom_home') }}" role="button" > Accueil  </a>
            </li>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Qui sommes-nous ? <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('sercom_home_projet') }}">Notre projet</a></li>
                <li><a href="{{ path('sercom_home_motpresident') }}">Mot du président</a></li>
                <li><a href="{{ path('sercom_home_historique') }}">Historique de l'ASBL</a></li>
                <li><a href="{{ path('sercom_home_equipe') }}">L'équipe</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Activites <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('sercom_home_activite_fle') }}">FLE</a></li>
                <li><a href="{{ path('sercom_home_activite_citoyennete') }}">Citoyenneté</a></li>
                <li><a href="{{ path('sercom_home_activite_remediations') }}">Remédiations</a></li>
                <li><a href="{{ path('sercom_home_activite_codev') }}">Co-Développement</a></li>
                <li><a href="{{ path('sercom_home_activite_dialogue') }}">Dialogues Inter-culturels</a></li>
                <li><a href="{{ path('sercom_home_activite_valo') }}">Valorisations</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Galerie <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Photos</a></li>
                <li><a href="#">Videos</a></li>
            </ul>
        </li>
        <li  class="dropdown">
            <a   href="{{ path('sercom_home_partenaire') }}" role="button" > Partenaires  </a>
        </li>


        <li  class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Intranet <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('sercom_members') }}">Zone Membres</a></li>
                <li><a href="#">Zone Professeurs</a></li>
                <li><a href="{{ path('student_index') }}">Zone étudiants</a></li>
            </ul>
        </li>
        <li  class="dropdown">
            <a   href="{{ path('sercom_home_contact') }}" role="button" > Contact  </a>
        </li>
        <li  class="dropdown">
            <a   href="{{ path('sercom_register') }}" role="button" > S'enregistrer  </a>
        </li>
    </ul>








