{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
    <title>Nouveau mot de passe</title>
{% endblock %}


{% block body %}

    {% for flashMessage in app.session.flashbag.get('succes') %}
        <div class="alert alert-success" role="alert" id="succes" > {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert" id="alert"> {{ flashMessage }}</div>
    {% endfor %}

    <section class="login">
        <div class="container">
            <div class="login-header">
                <h1>Changer mon mot de passe</h1>
            </div>
            <div class="login-form">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    <h3>{{ form_label(form.password.password, "Mot de passe :")}}</h3>
                    {{ form_widget(form.password.password)}}
                    <h3>{{ form_label(form.password.confirm, "Confirmer :")}}</h3>
                     {{ form_widget(form.password.confirm) }}
                    <br>


                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

        </div>


    </section>

{% endblock %}
