{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
<title> S'enregistrer </title>
{% endblock %}

{% block body %}

<section class="formulaire">
    <div class="container">
        <h1 class="heading"><span>Enregistrez-vous</span></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi asperiores quisquam vitae itaque placeat ipsa.
        </p>
        <fieldset>

                {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                {{ form_errors(form) }}
            <div>
                {{ form_label(form.firstname, "Prénom :") }}
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname) }}
            </div>
            <div>
                {{ form_label(form.lastname, "Nom :") }}
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname) }}
            </div>
            <div>
                {{ form_label(form.email, "Email :") }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                {{ form_label(form.username, "Login :") }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}<span id="alertlogin"> </span>
            </div>
            <div>
                {{ form_label(form.password.password, "Mot de passe :") }}
                {{ form_errors(form.password.password) }}
                {{ form_widget(form.password.password) }}
            </div>

             <div>
                 {{ form_label(form.password.confirm, "Confirmation :") }}
                 {{ form_errors(form.password.confirm) }}
                 {{ form_widget(form.password.confirm) }}

             </div>



        <div>
            {{ form_widget(form.save) }}
        </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}

        </fieldset>
        </div>
</section>

    <script>



        $('#sercom_appbundle_person_inscription_email').focusout(function(){
            var value = $(this).val();
            var ajaxsent = 0;
            if ( value != ""  && ajaxsent == 0){
                var url = "{{ path('sercom_register_checkemail', {'email': 'text' })  }}";
                url = url.replace("text", value);
                ajaxsent = 1;
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: 'json',
                    beforeSend: function(){
                        var element =  document.getElementById('spin1');
                        if (typeof(element) != 'undefined' && element != null){
                            $('#spin1').remove();
                            $('#alertmail').text("");
                            $('<i id="spin1" class="fa fa-spinner fa-pulse fa-2x"></i>').appendTo('#divemail');

                        }
                        else{
                            $('<i id="spin1" class="fa fa-spinner fa-pulse fa-2x"></i>').appendTo('#divemail');
                        }


                    },
                    success: function(data){
                        if ( data.email == "true"){
                            $('#spin1').remove();
                            $('<i id="spin1" class="fa fa-warning fa-2x"></i>').appendTo('#divemail');
                            $('#alertmail').text("Cet adresse email est déjà utilisée");
                            $('#alertmail').css({'color':'red'});
                        }
                        else{
                            $('#spin1').remove();
                            $('<i id="spin1" class="fa fa-check-square fa-2x"></i>').appendTo('#divemail');
                        }

                    },
                    error: function(data){
                        console.log("erreur")
                    }

                });
                ajaxsent = 0;
            }

        });

        $('#sercom_appbundle_person_inscription_username').focusout(function(){
            var value = $(this).val();
            var ajaxsent = 0;
            if ( value != "" && ajaxsent == 0 ){
                var url = "{{ path('sercom_register_checklogin', {'login': 'text' })  }}";
                url = url.replace("text", value);
                ajaxsent = 1;
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: 'json',
                    beforeSend: function(){
                        var element =  document.getElementById('spin2');
                        if (typeof(element) != 'undefined' && element != null){
                            $('#spin2').remove();
                            $('#alertlogin').text("");
                            $('<i id="spin2" class="fa fa-spinner fa-pulse fa-2x"></i>').appendTo('#divelogin');
                        }
                        else{
                            $('<i id="spin2" class="fa fa-spinner fa-pulse fa-2x"></i>').appendTo('#divelogin');
                        }


                    },
                    success: function(data){
                        if ( data.login == "true"){
                            $('#spin2').remove();
                            $('<i id="spin2" class="fa fa-warning fa-2x"></i>').appendTo('#divelogin');
                            $('#alertlogin').text("Cet nom d'utilisateur est déjà utilisé");
                            $('#alertlogin').css({'color':'red'});
                        }
                        else{
                            $('#spin2').remove();
                            $('<i id="spin2" class="fa  fa-check-square fa-2x"></i>').appendTo('#divelogin');

                        }

                    },
                    error: function(data){
                        console.log("erreur")
                    }

                });
                ajaxsent = 0;
            }

        });


    </script>
{% endblock %}


