{% extends 'SERCOMAppBundle:Members:index.html.twig' %}

{% block titre %}
    <title>Ajouter un forum</title>
{% endblock %}

{% block well %}
    <div class="well"> <a href="{{ path('sercom_admin') }}')">Administration</a> / <a href="{{ path('sercom_admin_forum') }}">Forums</a> / Ajouter un forum </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">AJouter un forum et permissions</div>
                <div class="panel-body">
                    {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            {{ form_label(form.name, 'Nom du forum :') }}
                        </div>
                        <div class="col-md-8">
                            {{ form_widget(form.name , {'attr':{'class':'form-control'}} ) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            {{ form_label(form.description, 'Description du forum :') }}
                        </div>
                        <div class="col-md-8">
                            {{ form_widget(form.description , {'attr':{'class':'form-control'}} ) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-3 control-label"><b>Groupes :</b></div>
                        <div class="col-md-4">
                            {% for grp in form.forumgroups %}
                                <li class="list-group-item">
                                        {{ form_label(grp) }}
                                        {{ form_widget(grp) }}

                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-md btn-block'}, 'label':'Enregister' }) }}
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('sercom_admin_forum') }}" class="btn btn-warning btn-block">Retour</a>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                </div>
            </div>


        </div>

    </div>
{% endblock %}