{% extends '@SERCOMApp/Home/base.html.twig' %}

{% block body %}

    <section class="activites">
        <div class="container">
            <h1><span>Activités</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni id est sit, unde tenetur cumque delectus mollitia fugiat at, veniam impedit harum aperiam quam dolorum voluptate commodi voluptatum eaque placeat. Omnis, incidunt explicabo doloremque eveniet, libero enim harum tempore quasi quod quis praesentium doloribus nesciunt animi, ducimus fugit. Incidunt, ratione!</p>
            <div>
                <article>
                    {% if prez is not empty %}
                        {% if prez.person.picture is not null %}
                            <img src="{{ asset(prez.person.picture) }}" alt="" style="width: 300px; height: 200px;">
                        {% else %}
                            <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="">
                        {% endif %}
                            <h3>Président</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!</p>
                    {% else %}
                            <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="" style="width: 300px; height: 200px;">
                            <h3>Président</h3>
                            <p>fonction non attribuée</p>
                    {% endif %}
                </article>
                <article>
                    {% if vp is not empty %}
                        {% if vp.person.picture is not null %}
                            <img src="{{ asset(vp.person.picture) }}" alt="" style="width: 300px; height: 200px;">
                        {% else %}
                            <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="">
                        {% endif %}
                            <h3>Vice-Président</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!</p>

                    {% else %}
                        <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="" style="width: 300px; height: 200px;">
                        <h3>Vice-Président</h3>
                        <p>fonction non attribuée</p>
                    {% endif %}
                </article>
                <article>
                    {% if anim is not empty %}
                        {% if anim.person.picture is not null %}
                            <img src="{{ asset(anim.person.picture) }}" alt="" style="width: 300px; height: 200px;">
                        {% else %}
                            <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="">
                        {% endif %}
                            <h3>Animateur</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!</p>

                    {% else %}
                        <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="" style="width: 300px; height: 200px;">
                        <h3>Animateur</h3>
                        <p>fonction non attribuée</p>
                    {% endif %}
                </article>
                <article>
                    {% if sec is not empty %}
                        {% if sec.person.picture is not null %}
                            <img src="{{ asset(sec.person.picture) }}" alt="" style="width: 300px; height: 200px;">
                        {% else %}
                            <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="">
                        {% endif %}
                            <h3>Secrétaire</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!</p>

                    {% else %}
                        <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="" style="width: 300px; height: 200px;">
                        <h3>Secrétaire</h3>
                        <p>fonction non attribuée</p>
                    {% endif %}
                </article>
                <article>
                    {% if trez is not empty %}
                        {% if trez.person.picture is not null %}
                            <img src="{{ asset(trez.person.picture) }}" alt="" style="width: 300px; height: 200px;">
                        {% else %}
                            <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="">
                        {% endif %}
                            <h3>Trésorier</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!</p>

                    {% else %}
                        <img src="{{ asset('bundles/AppBundle/images/noimage.png') }}" alt="" style="width: 300px; height: 200px;">
                        <h3>Trésorier</h3>
                        <p>fonction non attribuée</p>
                    {% endif %}
                </article>
                <article>
                        <img src="{{ asset('bundles/AppBundle/images/final8.jpg') }}" alt="" style="width: 300px; height: 200px;">
                        <h3>Technicienne de surface</h3>
                        <p></p>

                </article>

            </div>
        </div>
    </section>
{% endblock %}